body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

h1,
p {
    margin: 0;
}

/*ourwork_sec page part*/

.ourwork_sec {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #de2b24;
    background-size: cover;
    border-top: 1px solid transparent;
}

/*content container*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: 110px auto 0;
}

/*title*/
.section_title,
.section_subtitle {
    width: auto;
    text-align: center;
}

.section_title {
    font-size: 36px;
}

.section_subtitle {
    font-size: 20px;
    opacity: 90%;
}

/*line under text*/
.ourwork_sec_inner::after {
    content: "";
    display: flex;
    width: 47px;
    justify-content: space-between;
    height: 5px;
    margin: 17px auto 0;
    background-color: white;
}

/*container with our work boxes*/
.ourwork_cont {
    margin-top: 47px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*box with picture*/
.ourwork_picbox {
    display: flex;
    position: relative;
    justify-content: center;
    width: 255px;
    height: 253px;
    overflow: hidden;
    transition: 0.3s;
}

.ourwork_picbox img {
    max-width: 155%;
    max-height: 155%;
}

#photocamera {
    left: 100px;
}

.box_title {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 26px;
    transition: 0.5s;
}

/*box with text and logo*/
.ourwork_titlebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f35e59;
    width: 255px;
    height: 253px;
}

.ourwork_logo {
    margin-top: 75px;
}

.box_maintitle,
.box_subtitle {
    width: auto;
    text-align: center;
}

.box_maintitle {
    font-size: 26px;
}

.box_subtitle {
    font-size: 16px;
}

.ourwork_titlebox .box_title:hover {
    color: black;
    transition: 0.5s;
}

.ourwork_picbox:hover {
    overflow: visible;
    transition: 0.3s;
    transform: scale(1.2);
    z-index: 1000;
    border: none;
}

/*get analysis section*/
.get_analysis_sec {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-color: #1287bf;
    border-top: 1px solid transparent;
}

.open_form_button {
    text-align: center;
    margin: 18px auto 0;
}

.open_form_button input {
    outline: none;
}

.input_form {
    display: flexbox;
    position: relative;
    width: 683px;
    height: 448px;
    background-color: white;
    margin: 60px auto 0;
    border-radius: 5px;
}

.input_form::after {
    position: absolute;
    content: "";
    display: flex;
    border: 40px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    right: 0;
    left: 0;
    top: -80px;
}

.form_description {
    color: #828282;
    text-align: center;
    font-size: 15px;
    padding-top: 50px;
    padding: 50px 60px 0;
    word-wrap: break-word;
}

.form_inputs {
    margin-top: 42px;
}

.form_inputs input {
    width: 445px;
    height: 50px;
    display: flex;
    margin: 10px auto 0;
    border-radius: 5px;
    border-color: #d8d8d8;
    border-style: solid;
    transition: 0.3s;
}

.form_inputs input::placeholder {
    font-size: 14px;
    padding-left: 20px;
    color: #b0b0b0;
}

.form_inputs input:focus {
    outline: none;
    border-color: #1287bf;
    box-shadow: 0 0 5px#1287bf;
    transition: 0.3s;
}

.input_form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    background-color: #de2b24;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    margin: 35px auto 0;
    transition: 0.5s;
}

.input_form button:focus {
    outline: none;
}

.input_form button:hover {
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

.close_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    bottom: 95%;
    left: 96%;
    font-size: 25px;
}

.close_button:hover {
    cursor: pointer;
}

.get_in_touch_sec {
    width: 100%;
    background-size: cover;
    background-color: #2a2a2a;
    border-top: 1px solid transparent;
}

.get_in_touch_sec .section_title {
    color: white;
    font-size: 29px;
}

.logo_box {
    display: flex;
    width: 300px;
    height: 50px;
    margin: 30px auto 0;
}

.logo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    border: 2px solid #515151;
    border-radius: 2px;
    transition: 0.3s;
    margin-left: 20px;
}

.logo:hover {
    border-color: #de2b24;
    cursor: pointer;
    transition: 0.3s;
}

.input_description {
    margin-top: 35px;
    color: #cecece;
}

.email_input {
    display: flex;
    width: 680px;
    height: 55px;
    margin: 35px auto 0;
    outline: none;
    border: none;
    transition: 0.3s;
}

.email_input,
textarea {
    background-color: #515151;
}

.email_input::placeholder {
    font-size: 14px;
    padding-left: 20px;
    color: #b0b0b0;
}

.email_input:focus {
    border: 1px solid whitesmoke;
    border-radius: 2px;
}

.subscribe_button {
    width: 155px;
    height: 55px;
    margin-top: 55px;
    border: 2px solid #515151;
    border-radius: 2px;
    background-color: #2a2a2a;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 85px;
    transition: 0.5s;
}

.subscribe_button:hover {
    border-color: #de2b24;
    cursor: pointer;
    transition: 0.5s;
}

footer {
    display: flex;
    position: relative;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #515151;
    color: #cecece;
}

@media (max-width: 1050px) {
    .container {
        width: 100%;
        margin-top: 5%;
    }

    .ourwork_cont {
        width: 70%;
        margin-bottom: 5%;
        justify-content: center;
        flex-direction: row;
    }

    .ourwork_titlebox,
    .ourwork_picbox {
        margin-top: 2%;
    }
}

@media (max-width: 750px) {
    .container {
        width: 100%;
    }

    .get_analysis_inner,
    .ourwork_cont,
    .input_form,
    .input_form input,
    .email_input {
        width: 80%;
    }

    .close_button {
        left: 95%;
    }
}

@media (max-width: 410px) {
    .close_button {
        left: 92%;
    }

    .input_form {
        height: 100%;
        margin-bottom: 5%;
    }

    .input_form button {
        margin: 5% auto 5%;
    }
}

@media (max-width: 360px) {
    .close_button {
        left: 91%;
    }

    .form_description {
        padding: 10% 5%;
        font-size: 17px;
    }

    .form_inputs {
        margin-top: 3%;
    }

    .ourwork_sec_inner,
    .input_description {
        margin-left: 3%;
        margin-right: 3%;
    }

    .input_description {
        text-align: center;
        font-size: 17px;
    }
}
